body {
	background-color: #DCD1CA !important;
}

.menu {
	border-bottom: 1px solid;
	border-color: black;
	background: #dddddd;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	font: 20px Georgia !important;
}

.lang {
	font: 15px Georgia
}

a:link, a:visited {
	color: black;
}

.nav {
	padding-right: 10px;
}